*{
    margin : 0;
    border : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.preload{
    transition: none;
    animation: none;
}

body{
    background-image: url("./bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar{
    background-color:black;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    font-size: 1rem;
    text-align: right;
    padding: 10px 40px 10px 0px;
    height: 45px;
}


.navbar > a{
    display: inline;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    transition: color 300ms;  
}

.navbar > a:hover{
    color : gray;
}

.mainscreen{
    height: calc(100vh - 45px);
    margin-top: 45px;
    display: flex;
    align-items: center;
}

#name{
    padding-left: 2vw;
    font-size: 7vw;
    animation-name: slidein;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

#tags{
    font-size: 3vw;
    /* font-family: 'Playfair Display', serif; */
    padding-left: 2.5vw;
    animation-name: slidein;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

#links{
    font-size: 4vw;
    margin-left: 2vw;
}

#links > a{
    color: white;
    width: 4.5vw;
    height: 4.5vw;
    text-align: center;
    margin-right: 1vw;
    text-decoration: none;
    padding: 0.4vw;
    border-radius: 35% 35% 5% 35%;
    transition: box-shadow 180ms;
    animation-name: slide2;
    animation-duration: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1.75s;
}

#links > a:hover{
    box-shadow: inset 4.5vw 4.5vw white;
    color: black;
}

@media screen and (max-width: 800px){
    #name{
        font-size: 12vw;
        white-space: nowrap;
        max-width: 100vh;
    }
    
    #tags{
        font-size: 6vw;
    }

    #links{
        font-size: 7vw;
    }

    #links > a{
        width: 7.5vw;
        height: 7.5vw;
        margin-right: 2vw;
    }

    #links > a:hover{
        box-shadow: inset 7.5vw 7.5vw white;
    }
    
}

@keyframes slidein{
    from{
        opacity: 0;
        margin-left: -10vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes slide2{
    from{
        opacity: 0;
        margin-left: -7.5vw;
    }
    to{
        opacity: 1;
        margin-left: 1;
    }
}
